Flask==3.0.0
flask-cors==4.0.0
pyresparser==1.0.6
spacy==3.7.2
pdfminer.six==20221105
nltk==3.8.1
idna==3.4
certifi==2023.11.17
numpy==1.26.4
pandas==2.2.2
tqdm==4.66.4
six==1.16.0
python-dateutil==2.9.0.post0
docx2txt==0.8
pycryptodome==3.20.0
